<div class="login-container">
    <h2>Login</h2>
    <form #loginForm="">
      <!-- Email Input -->
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          name="email"
          required
        />
      </div>
  
      <!-- Password Input -->
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          name="password"
          required
        />
      </div>
  
      <!-- Login Button -->
      <button type="submit" class="btn-login" [disabled]="!loginForm.valid">
        Login
      </button>
    </form>
  </div>
  